@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$main-color: #a26c54;
$black-color: #505050;
$light-black-color: #777;
$gray-color: #ccc;
$white-color: #fff;
$main-content-width: 1200px;
$min-main-content-width: 15px;
$pc-max-width: 1216px;
$tablet-max-width: 1023px;
$mobile-max-width: 768px;
$mobile-content-width: 540px;

$header-height: 74px;
$mobile-header-height: 55px;

* {
  box-sizing: border-box;
  font-family: 'Lato', "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $black-color;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: $main-color;
}

h3 {
  font-size: 30px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  width: 100%;
  height: 52px;
  font-size: 22px;
  color: $white-color;
  background-color: $main-color;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.section-title {
  font-size: 40px;
}

.section-text {
  width: 342px;
  margin: 50px auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 30px;

  @media (max-width: $mobile-max-width) {
    height: $mobile-header-height;
    padding: 0 15px;
  }

  .page-title {
    font-size: 40px;
    line-height: 100%;
    color: $black-color;

    @media (max-width: $mobile-max-width) {
      font-size: 24px;
    }
  }

  .header-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    @media (max-width: $mobile-max-width) {
      display: none;
      flex-direction: column;
    }

    > li {
      > a {
        position: relative;
        padding: 5px 5px;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          border-bottom: solid 3px $main-color;
          transition:0.25s;

          &:hover {
            width: 100%;
          }
        }

        &:hover {
          color: $light-black-color;

          &::after {
            transition: 0.25s;
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    height: 40px;
    width: 40px;
    z-index: 101;
    padding: 5px;

    @media (max-width: $mobile-max-width) {
      display: flex;
    }

    > .hamburger-bar {
      width: 100%;
      border: solid 1px;
      margin-top: 8px;

      &:first-child {
        margin-top: 4px;
      }
    }

    &-menu {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      background-color:rgba(255, 255, 255, 0.9);
      opacity: 0;
      pointer-events: none;

      &.isOpen {
        opacity: 1;
        pointer-events: inherit;
      }

      &-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        height: 100%;

        > li {
          > a {
            font-size: 40px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.bg-image-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - $header-height);
  padding: 137px 0;
  background-image: url("../images/keyboard-338502_1280.png");

  @media (max-width: $mobile-max-width) {
    height: calc(100vh - $mobile-header-height);
  }

  * {
    margin: 0 auto;
    color: #fff;
  }

  &-title {
    font-size: 60px;
  }

  &-text {
    width: 342px;
  }

  .inquiry-btn {
    width: 200px;
  }
}

.main {
  margin-bottom: 100px;
  text-align: center;

  section:not(:first-child) {
    margin-top: 100px;
  }
}

.about {
  max-width: $main-content-width;
  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }

  h3 {
    margin-bottom: 25px;
  }

  &-wrap {
    display: flex;
    gap: 30px;
    text-align: left;
    @media (max-width: $mobile-max-width) {
      flex-direction: column;
      height: calc(450px * 2);
    }
  }

  &-image {
    width: 50%;
    height: 450px;
    background-color: $gray-color;
    @media (max-width: $mobile-max-width) {
      width: 100%;
      height: 50%;
    }
  }

  &-sub-content {
    width: 50%;
    height: 100%;
    @media (max-width: $mobile-max-width) {
      width: 100%;
      margin: auto;
    }
  }

  &-sub-textarea {
    margin-bottom: 50px;
  }
}

.works {
  max-width: $main-content-width;
  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }

  &-card-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $mobile-max-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-card {
    max-width: 370px;
    margin-bottom: 20px;
    border: 1px solid $gray-color;

    @media (max-width: $mobile-max-width) {
      max-width: 100%;
    }

    &-image {
      height: 280px;
      background-color: $gray-color;

      @media (max-width: $tablet-max-width) {
        height: 180px;
      }
    }

    &-textarea {
      padding: 21px 21px;
    }
  }
}

.service {
  max-width: $main-content-width;
  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }

  .service-card-wrap {
    display: flex;
    justify-content: space-between;

    .service-card {
      border: solid 1px $gray-color;
      max-width: 370px;
      padding: 25px 15px;
      margin-bottom: 15px;

      @media (max-width: $mobile-max-width) {
        max-width: 100%;
      }

      & > h3 {
        margin-bottom: 20px;
      }
    }

    @media (max-width: $mobile-max-width) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../images/macbook-336692_1280.png');

  * {
    color: $white-color;
    opacity: 0.9;
    text-align: left;
  }

  &-content {
    margin: 0 auto;

    @media (max-width: $mobile-max-width) {
      max-width: $mobile-content-width;
    }

    .section-title {
      margin-bottom: 40px;
      font-size: 52px;
    }
  }

  &-card {
    margin-bottom: 25px;
    max-width: 342px;
    text-align: left;

    @media (max-width: $mobile-max-width) {
      max-width: 100%;
    }

    > h3 {
      margin-bottom: 15px;
    }


    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.contact {
  margin: 0 auto;
  max-width: $mobile-content-width;

  form {
    max-width: 100%;
    text-align: left;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    > input,
    > textarea {
      border: solid 1px $gray-color;
      border-radius: 5px;
    }
    label {
      margin-bottom: 5px;
    }
    input[type=text] {
      height: 38px;
    }
    textarea {
      height: 222px;
    }
    .btn {
      margin: 0 auto;
      width: 200px;
    }
  }
}

.footer {
  padding: 38px 0;
  background-color: #C6A394;
  text-align: center;
  * {
    color: $white-color;
  }
  &-content {
    margin: 0 auto;
    max-width: $mobile-content-width;
  }
  &-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
